.btn {
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 8px;
    font-size: 0.9rem;
    margin: 5px;
}

.btn:hover {
    background-color: hsl(0, 0%, 86%);
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: hsl(0, 0%, 86%);
    color: rgb(108, 108, 108);
}
